<header class="main-title">
    <h1>catalogE</h1>
    <h2>the online classbook</h2>
    <div id="main-menu">
        <nav>
            <ul>
                <li><a href="/">CLASSBOOK</a></li>
            </ul>
        </nav>
    </div>
</header>