<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs', { title: 'Error' }) %>
    <body id="error-id">
        <%- include('partials/header.ejs') %>
        
        <h1>We have encountered an error :(</h1>
        <p>Message:</p>
        <p class="message"><%= message %></p>

        <%- include('partials/footer.ejs') %>

    </body>
</html>