header,
body {
  font-family: 'Arial', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

.main-title {
  user-select: none;
}

.main-title h1 {
  text-align: center;
  color: #8ecae6;
  font-size: 30px;
  background-color: #023047;
  margin: 0;
  padding-bottom: 5px;
}

.main-title h2 {
  text-align: center;
  color: #023047;
  font-size: 15px;
  background-color: #ffb703;
  margin: 0;
}

#main-menu {
  background-color: #023047;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  user-select: none;
}

#main-menu ul {
  list-style-type: none;
  margin: auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#main-menu li {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: auto;
}

#main-menu a {
  color: #8ecae6;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.3);
  border-width: 1px;
  border-color: #8ecae6;
  border-style: solid;
  border-radius: 10px;
  font-size: 18px;
  display: inline-block;
  padding: 5px 15px;
}

#main-menu a:hover {
  background-color: #8ecae6;
  color: #023047;
}

#main-menu a:active {
  background-color: #ffb703;
  color: #023047;
}

#user-info {
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
}

#user-info span {
  color: #d2dadd;
  margin-right: 10px;
}

#login-from-header {
  margin-right: 40px;
}

body {
  margin-top: 140px;
  background-color: #0d2e29;
}

#home-content {
  user-select: none;
}

#home-content h1 {
  color: #d2dadd;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 50px;
  margin-top: 300px;
}

#home-content h2 {
  color: #d2dadd;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  margin-top: 50px;
}

#class-title,
#assignment-title {
  text-align: center;
  color: #d2dadd;
}
  
#add-class {
  text-align: center;
  color: #d2dadd;
}

#add-class h1 {
  margin-top: 140px;
}

#add-class button {
  background-color: #35832b;
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #d2dadd;
  color: #d2dadd;
  cursor: pointer;
}

#add-class button:hover {
  background-color: #23551c;
}

#add-class button:active {
  background-color: #1a3316;
}

#add-class input[name='name'] {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #d2dadd;
}

#add-class textarea[name='description'] {
  padding: 10px;
  margin: 10px;
  height: 300px;
  width: 600px;
  resize: none;
  border-radius: 10px;
  border: 1px solid #d2dadd;
}

#add-class select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d2dadd;
  display: block;
  margin: auto;
}

#add-class-button {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  width: 10%;
  padding: 10px;
  border-radius: 10px;
  background-color: #35832b;
  border: 1px solid #d2dadd;
  color: #d2dadd;
  cursor: pointer;
  user-select: none;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

#add-assignment-button {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  background-color: #35832b;
  border: 1px solid #d2dadd;
  color: #d2dadd;
  cursor: pointer;
  user-select: none;
  display: block;
  margin: auto;
  margin-top: 30px;
  position: absolute;
  left: 53%;
  transform: translateX(-50%);
}

#add-class-button:hover {
  background-color: #23551c;
}

#add-class-button:active {
  background-color: #1a3316;
}

#add-assignment-button:hover {
  background-color: #23551c;
}

#add-assignment-button:active {
  background-color: #1a3316;
}

#add-assignment {
  text-align: center;
  color: #d2dadd;
  width: 100%;
  height: 100%;
}

.add-assignment-maint {
  margin-top: 140px;
}

#add-assignment button {
  background-color: #35832b;
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #d2dadd;
  color: #d2dadd;
  cursor: pointer;
}

#add-assignment button:hover {
  background-color: #23551c;
}

#add-assignment button:active {
  background-color: #1a3316;
}

#add-assignment input[name='name'] {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #d2dadd;
}

#add-assignment input[name='deadline'] {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #d2dadd;
}

#add-assignment textarea[name='description'] {
  padding: 10px;
  margin: 10px;
  height: 300px;
  width: 600px;
  resize: none;
  border-radius: 10px;
  border: 1px solid #d2dadd;
}

.subject {
  background-color: #01ca7d;
  border: 1px solid #d2dadd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: #d2dadd;
}

.subject h2 {
  text-decoration: none;
  color: #d2dadd;
  font-size: 16px;
}

.subject p {
  color: #d2dadd;
  font-size: 11px;
}

.assgiment {
  background-color: #01ca7d;
  border: 1px solid #d2dadd;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: #d2dadd;
}

.assgiment h2 {
  text-decoration: none;
  color: #d2dadd;
  font-size: 16px;
}

#delete-class {
  text-align: center;
  color: #d2dadd;
  position: fixed;
  width: 100%;
  height: 100%;
}

#delete-class button {
  background-color: #bd0808;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #d2dadd;
  color: #d2dadd;
}

#delete-class button:hover {
  background-color: #8a0606;
}

#delete-class button:active {
  background-color: #5c0404;
}

#delete-class input[name='code'] {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #d2dadd;
}

#delete-class-button {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #bd0808;
  border: 1px solid #d2dadd;
  color: #d2dadd;
  cursor: pointer;
  user-select: none;
  display: inline;
  margin: auto;
}

#delete-class-button:hover {
  background-color: #8a0606;
}

#delete-class-button:active {
  background-color: #5c0404;
}

footer {
  user-select: none;
  text-align: center;
  color: #d2dadd;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
}

.all-classes h1 {
  text-align: center;
  color: #d2dadd;
}

#classes {
  display: flex;
  flex-direction: row;
}

#no-classes {
  text-align: center;
  color: #d2dadd;
  margin: auto;
}

#classes a {
  text-decoration: none;
  color: #d2dadd;
  font-size: 30px;
}

#classes ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

#classes li {
  color: #d2dadd;
  background-color: rgba(48, 163, 37, 0.5);
  border: 1px solid #d2dadd;
  border-radius: 10px;
  flex: 1 1 200px;
  padding: 30px;
  margin: 30px;
}

#classes li:hover {
  background-color: #01ca7d;
}

#classes li:active {
  border-radius: 20px;
  background-color: #00975d;
}

#class {
  background-color: #0d2e29;
}

#class h1 {
  user-select: none;
  text-align: center;
  color: #d2dadd;
}

#classdescription {
  user-select: none;
  color: #d2dadd;
  margin-left: 110px;
  margin-top: 150px;
}

#classdescription p {
  margin-left: 100px;
  margin-right: 100px;
  padding: 40px;
}

#assignments {
  margin-left: 80px;
}

#assignments h3 {
  text-align: center;
  color: #d2dadd;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  top: 80px;
  left: 0;
  background-color: #023047;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#assignments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #d2dadd;
}

#assignments li {
  list-style-type: none;
  border: 1px solid #d2dadd;
  background-color: #23551c;
  padding: 20px;
  display: block;
  margin: auto;
}

#assignments a {
  text-decoration: none;
  color: #d2dadd;
  background-color: #00975d;
  border: 2px solid #d2dadd;
  padding: 3px;
  border-radius: 10px;
}

#delete-assignment-button {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  width: 30%;
  padding: 6px;
  border-radius: 10px;
  background-color: #bd0808;
  border: 1px solid #d2dadd;
  color: #d2dadd;
  cursor: pointer;
  user-select: none;
  display: inline;
  margin: auto;
  margin-top: 40px;
  margin-left: 180px;
}

#delete-assignment-button:hover {
  background-color: #8a0606;
}

#delete-assignment-button:active {
  background-color: #5c0404;
}

#error-id {
  text-align: center;
  color: #d2dadd;
  margin-top: 200px;
}

.error-class {
  text-align: center;
  color: #db1f1f;
  margin-top: 150px;
  z-index: 2;
}

.class-description {
  color: #d2dadd;
  display: none;
}

#show-more-button {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  width: 30%;
  padding: 6px;
  border-radius: 10px;
  background-color: #35832b;
  border: 1px solid #d2dadd;
  color: #d2dadd;
  cursor: pointer;
  user-select: none;
  display: inline;
  margin: auto;
  margin-bottom: 20px;
}

#show-more-button:hover {
  background-color: #23551c;
}

#show-more-button:active {
  background-color: #1a3316;
  border-radius: 20px;
}

.show-less-button {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  width: 30%;
  padding: 6px;
  border-radius: 10px;
  background-color: #35832b;
  border: 1px solid #d2dadd;
  color: #d2dadd;
  cursor: pointer;
  user-select: none;
  display: none;
  margin: auto;
  margin-bottom: 20px;
}

#show-less-button:hover {
  background-color: #23551c;
}

#show-less-button:active {
  background-color: #1a3316;
  border-radius: 20px;
}

#assignment-delete-message {
  text-align: center;
  z-index: 2;
  color: #d2dadd;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #d2dadd;
  border-radius: 10px;
  display: none;
  width: 30%;
  margin: auto;
  margin-left: 720px;
  background-color: rgba(0, 0, 0, 0.3);
}

#assignment-delete-message.succes {
  color: #35832b;
  border-color: #35832b;
}

#assignment-delete-message.error {
  color: #bd0808;
  border-color: #bd0808;
}

#error {
  text-align: center;
  color: #d2dadd;
  background-color: rgba(179, 18, 18, 0.95);
  padding: 10px;
  border: 1px solid #d2dadd;
  border-radius: 10px;
  width: 30%;
  max-width: 300px;
  margin: auto;
  margin-top: 470px;
  z-index: 1;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

body#class-login-page {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #0d2e29 10%, #35832b 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
}

.login-title {
  font-size: 36px;
  margin: 0;
  padding: 0;
  text-align: center;
}

form#login-id {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  width: 300px;
  backdrop-filter: blur(10px);
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.login-input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(24, 126, 3, 0.5);
}

.btn-submit-login {
  width: 100%;
  padding: 10px;
  background-color: #35832b;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit-login:hover {
  background-color: #23551c;
}

.btn-submit-login:focus {
  outline: none;
}

.btn-submit-login:active {
  background-color: #1a3316;
}

.signup-link {
  text-decoration: none;
  color: #8ecae6;
}

#login-error {
  text-align: center;
  color: #d2dadd;
  background-color: rgba(179, 18, 18, 0.95);
  padding: 10px;
  border: 1px solid #d2dadd;
  border-radius: 10px;
  margin-top: 20px;
}

#invitation {
  text-align: center;
  color: #d2dadd;
  margin-top: 120px;
}

#invitation-form {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  width: 300px;
  backdrop-filter: blur(10px);
  margin-top: 20px;
  margin: auto;
}

#invitation-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

#invitation-form input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

#invitation-form input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(24, 126, 3, 0.5);
}

#invitation-form button {
  width: 100%;
  padding: 10px;
  background-color: #35832b;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#invitation-form button:hover {
  background-color: #23551c;
}

#invitation-form button:focus {
  outline: none;
}

#invitation-form button:active {
  background-color: #1a3316;
}

#main-menu li {
  padding-left: 10px;
  padding-right: 10px;
}

#listed-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d2dadd;
}

#listed-users h1 {
  text-align: center;
  color: #d2dadd;
  margin-bottom: 20px;
}

#listed-users ul {
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 800px;
}

#listed-users li {
  display: grid;
  grid-template-columns: 1fr 1fr auto auto auto;
  align-items: center;
  border: 1px solid #d2dadd;
  background-color: #23551c;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

#listed-users li .name,
#listed-users li .role {
  padding: 0 10px;
}

#listed-users li button {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#listed-users li .name,
#listed-users li .role {
  padding: 0 10px;
}

#listed-users li .invite-button {
  padding: 5px 10px;
  background-color: #35832b;
  color: #d2dadd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#listed-users li .invite-button:hover {
  background-color: #13360f;
}

#listed-users li .invite-button:active {
  background-color: #1a3316;
}

#listed-users li .edit-button {
  padding: 5px 10px;
  background-color: #ffb703;
  color: #d2dadd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#listed-users li .edit-button:hover {
  background-color: #8e6b00;
}

#listed-users li .edit-button:active {
  background-color: #5c4a00;
}

#listed-users li .delete-button {
  padding: 5px 10px;
  background-color: #bd0808;
  color: #d2dadd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#listed-users li .delete-button:hover {
  background-color: #8a0606;
}

#listed-users li .delete-button:active {
  background-color: #5c0404;
}

#edit-user h1 {
  text-align: center;
  color: #d2dadd;
  display: none;
}

#edit-user-form {
  display: none;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  width: 300px;
  backdrop-filter: blur(10px);
  margin-top: 20px;
  margin: auto;
}

#edit-user-form select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d2dadd;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

#edit-user-form label {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  color: #d2dadd;
}

#edit-user-form button {
  width: 100%;
  padding: 10px;
  background-color: #35832b;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

#edit-user-form button:hover {
  background-color: #23551c;
}

#edit-user-form button:focus {
  outline: none;
}

#edit-user-form button:active {
  background-color: #1a3316;
}

#user-edit-message {
  text-align: center;
  color: #d2dadd;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border: 1px solid #d2dadd;
  border-radius: 10px;
  width: 30%;
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
  display: none;
}

#user-edit-message.succes {
  color: #35832b;
  border-color: #35832b;
}

#user-edit-message.error {
  color: #bd0808;
  border-color: #bd0808;
}

#invite-user h1 {
  text-align: center;
  color: #d2dadd;
  display: none;
}

#invite-user-form {
  display: none;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  width: 300px;
  backdrop-filter: blur(10px);
  margin-top: 20px;
  margin: auto;
}

#invite-user-form label {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-bottom: 5px;
  color: #d2dadd;
}

#invite-user-form select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d2dadd;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

#invite-user-form button {
  width: 100%;
  padding: 10px;
  background-color: #35832b;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

#invite-user-form button:hover {
  background-color: #23551c;
}

#invite-user-form button:focus {
  outline: none;
}

#invitations {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d2dadd;
}

#invitations h1 {
  text-align: center;
  color: #d2dadd;
  margin-bottom: 20px;
}

#invitations ul {
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 800px;
}

#invitations li {
  display: grid;
  grid-template-columns: 1fr 1fr auto auto auto;
  align-items: center;
  border: 1px solid #d2dadd;
  background-color: #23551c;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

#invitations li .name,
#invitations li .role {
  padding: 0 10px;
}

#invitations li button {
  padding: 5px 10px;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#invitations li .accept-button {
  padding: 5px 10px;
  background-color: #35832b;
  color: #d2dadd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 4px;
}

#invitations li .accept-button:hover {
  background-color: #13360f;
}

#invitations li .accept-button:active {
  background-color: #1a3316;
}

#invitations li .decline-button {
  padding: 5px 10px;
  background-color: #bd0808;
  color: #d2dadd;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#invitations li .decline-button:hover {
  background-color: #8a0606;
}

#invitations li .decline-button:active {
  background-color: #5c0404;
}

#invitation-message {
  text-align: center;
  color: #d2dadd;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  border: 1px solid #d2dadd;
  border-radius: 10px;
  width: 30%;
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
  display: none;
}

#invitation-message.succes {
  color: #35832b;
  border-color: #35832b;
}

#invitation-message.error {
  color: #bd0808;
  border-color: #bd0808;
}

@media (max-width: 1400px) {
  #main-menu ul {
    flex-direction: column;
  }

  #home-content h1 {
    margin-top: 100px;
  }

  body {
    margin-top: 300px;
  }

  #invitation {
    margin-top: 300px;
  }
}

@media (max-height: 800px) {
  #home-content h1 {
    margin-top: 20px;
  }

  #home-content h2 {
    margin-top: 0px;
  }
}

@media (max-width: 1100px) {
  .sidenav {
    width: 100px;
  }

  .sidenav h1 {
    padding-top: 10px;
    font-size: 14px;
  }

  .sidenav a {
    padding: 6px 8px 6px 10px;
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .sidenav {
    width: 70px;
  }

  .sidenav h1 {
    padding-top: 10px;
    font-size: 10px;
  }

  .sidenav a {
    padding: 6px 8px 6px 8px;
    font-size: 10px;
  }
}
