header {
    background-color: #ccd5ae;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
    text-align: center;
    margin: 0;
}

header h2 {
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
}

body {
    background-color: #e9edc9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

#game-menu-id {
    display: block; 
    position: fixed; 
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;  
    background-color: rgba(0,0,0,0.6); 
    padding-top: 270px;
}

.game-menu-content {
    background-color: #d4a373;
    border: 1px solid #724e2a;
    border-radius: 30px;
    margin: auto;
    width: 20%;
    padding: 30px;
}

.game-menu-content ul {
    list-style: none;
    margin-right: 30px;
    text-align: center;
}
  
.game-menu-content li {
    margin-bottom: 20px;
}

.game-menu-content button {
    background-color: #ccd5ae;
    border: 1px solid #724e2a;
    border-radius: 30px;
    padding: 4px;
    width: 120px;
    height: 30px;
}

.game-menu-content button:hover {
    background-color: #8b9666;
}

#game-menu-id h1{
    text-align: center;
}

#game-canvas-id {
    margin-left: 30px;
    margin-right: 30px;
    background-color: #faedcd;
    border: 2px solid #724e2a;
}

footer {
    text-align: center;
    color: #8b9666;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}

#timer-id {
    font-size: 50px;
    position: fixed;
    margin-left: 950px;
    margin-top: 330px;
}

#game-score-id {
    font-size: 20px;
    position: fixed;
    margin-left: 1720px;
}

#game-round-id {
    font-size: 20px;
    position: fixed;
    margin-left: 40px;
}

#game-over-id {
    display: none; 
    position: fixed; 
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;  
    background-color: rgba(0,0,0,0.6); 
    padding-top: 400px;
}

#game-current-id {
    display: none; 
    position: fixed; 
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: auto;  
    background-color: rgba(0,0,0,0.6); 
    padding-top: 400px;
}

#restart-btn-id {
    background-color: #ccd5ae;
    border: 1px solid #724e2a;
    border-radius: 30px;
    padding: 4px;
    width: 120px;
    height: 30px;
}

#restart-btn-id:hover {
    background-color: #8b9666;
}